<section class="content-header">
  <div class="titles">
    <span class="subtitle">VISÃO GERAL</span>
    <h3>Meus acessos</h3>
  </div>
</section>

<!-- Grid Content -->
<div class="cards-grid">
  <div class="dashboard-card">
    <div class="card-icon">
      <i class="fas fa-shopping-cart"></i>
    </div>
    <h4>Quantivo</h4>
    <p>Lista de compras Mensal</p>
    <button class="btn-primary access-btn" routerLink="/dashboard/listas">
      Acessar <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</div>
